

.sub-watch{
    width: 1350px;
    display: flex;
    border: 2px solid black;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 10px;
}
.wat-img img{
    height: 300px;
    width: 300px;
}

.wat-part{
    margin-left: 70px;
    margin-top: 80px;
}