.display-main{

    display: flex;
    margin-top: 20px;
    width: 100%;

    
    
  
    
}
.display-main img{
    width: 700px;
    height: 600px;
    margin-left: 40px;
    border-radius: 20px;
    
}
.select-main{
    display: flex;
   
}
.select-option{
    margin-left: 20px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: larger;
    


}

/* .disp-3{
    background-color: rgb(255, 0, 195);
    
    
    
} */