.main-tv-appli{
    display:flex;
    flex-wrap: wrap;

}
.sub-tv-appli{
    width: 1350px;   
    display: flex;
    border: 2px solid black;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 10px;
}
.ele-img img{
    height: 300px;
    width: 300px;
}
.ele-part{
    margin-left: 70px;
    margin-top: 80px;

}