.home-sub{
    background-color: #f7f7f7;
    height: 400px;
    width: 700px;
    
   
   
    
   
}
.img-home-sub{
    width: 1500px;
    height: 400px;
   
    
}
.icon{
    margin-top: 132px;
    margin-left: 140px;

}
