
.lenovo-block{
    width: 1350px;   
    border: 2px solid black;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
}
.len-img img{
    height: 300px;
    width: 300px;
}

.len-part{
    margin-left: 70px;
    margin-top: 80px;
}